stages:
  - build-base-image
  - test-parsing-and-injection
  - test-components
  - test-benchmarks
  - deploy
  - dev-image
  - build-examples

# Auto-security testing - requires gitlab 13.3 (expected October 2020)
# include:
# - template: Security/SAST.gitlab-ci.yml

variables:
  GIT_DEPTH: "3"
  PEP440_VERSION_REGEX: /^((19|20)[0-9][0-9]-(0[1-9]|1[1-2])-([0-2][1-9]|3[0-1])|[0-9]+\.\w+\+?\w*(\.\w+)*)$/
  # perhaps SAST_EXCLUDED_PATHS from include works for Bandit?
  # SAST_BANDIT_EXCLUDED_PATHS: '*/tests/*'


# Avoid duplicate pipelines on branches and merge requests
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - when: always


############################################################
#####              BUILD IMAGES                        #####
############################################################

# Build the base image which is used to test installation and build the final hep-benchmark-suite image
.template_build_image:
  image: # NB enable shared runners and do not specify a CI tag
    name: gitlab-registry.cern.ch/ci-tools/docker-image-builder # CERN version of the Kaniko image
    entrypoint: [""]
  script:
    # Prepare Kaniko configuration file
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    # Build and push the image from the Dockerfile at the root of the project.
    # To push to a specific docker tag, amend the --destination parameter, e.g. --destination $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    # See https://docs.gitlab.com/ee/ci/variables/predefined_variables.html#variables-reference for available variables
    - /kaniko/executor --context $CONTEXT --dockerfile $DOCKERFILE $DESTINATIONS 

build_logstash_image:
  stage: build-base-image
  before_script:
      - export DOCKERFILE=$CI_PROJECT_DIR/docker-images/logstash/Dockerfile
      - export CONTEXT=$CI_PROJECT_DIR/
      - export DESTINATIONS="--destination $CI_REGISTRY_IMAGE/logstash:${CI_COMMIT_BRANCH} --destination $CI_REGISTRY_IMAGE/logstash:ci-${CI_COMMIT_SHA:0:8}"
  extends: .template_build_image
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^qa.*$/ || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^qa.*$/
      changes:
        - docker-images/logstash/*

build_elasticsearch_image:
  stage: build-base-image
  before_script:
      - export DOCKERFILE=$CI_PROJECT_DIR/docker-images/es-extractor/Dockerfile
      - export CONTEXT=$CI_PROJECT_DIR/docker-images/es-extractor
      - export DESTINATIONS="--destination $CI_REGISTRY_IMAGE/es-extractor:${CI_COMMIT_BRANCH} --destination $CI_REGISTRY_IMAGE/es-extractor:ci-${CI_COMMIT_SHA:0:8} --destination $CI_REGISTRY_IMAGE/es-extractor:latest"
  extends: .template_build_image
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^qa.*$/ || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^qa.*$/
      changes:
        - docker-images/es-extractor/*

.build_suite_image:
  stage: build-base-image
  before_script:
      - export DOCKERFILE=$CI_PROJECT_DIR/docker-images/hep-benchmark-suite/Dockerfile-cc7
      - export CONTEXT=$CI_PROJECT_DIR/docker-images/hep-benchmark-suite
      - export DESTINATIONS="--destination $CI_REGISTRY_IMAGE/hep-benchmark-suite-cc7:ci-${CI_COMMIT_BRANCH} --destination $CI_REGISTRY_IMAGE/hep-benchmark-suite-cc7:ci-${CI_COMMIT_SHA:0:8} --destination $CI_REGISTRY_IMAGE/hep-benchmark-suite-cc7:prior"
  extends: .template_build_image

build_suite_prior_image:
  extends: .build_suite_image
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^qa.*$/ || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^qa.*$/ || $CI_COMMIT_TAG =~ $PEP440_VERSION_REGEX
      changes:
        - docker-images/hep-benchmark-suite/Dockerfile-cc7

############################################################
#####              TEST COMPONENTS                     #####
############################################################

code_quality:
  stage: test-components
  image: gitlab-registry.cern.ch/linuxsupport/cs8-base
  dependencies: []
  before_script:
    - dnf install -y -q python3.11 python3.11-pip git
    - python3 -m pip install -U pip tox pylint_gitlab
    - mkdir -p public/badges public/lint
    - echo undefined > public/badges/$CI_JOB_NAME.score
  script:
    - tox -e pylint | tee /tmp/pylint.txt
    - sed -n 's/^Your code has been rated at \([-0-9.]*\)\/.*/\1/p' /tmp/pylint.txt > public/badges/$CI_JOB_NAME.score
    - PYLINT_EXIT_CODE=$(pylint -j 0 --output-format=pylint_gitlab.GitlabCodeClimateReporter $(find . \( -path ./.tox -o -path ./tests \) -prune -false -o -name "*.py") bin/bmkrun bin/bmk_show_metadata > codeclimate.json; echo $?)
    # Only fail in case of fatal errors
    - if [[ $((PYLINT_EXIT_CODE%2)) -eq 1 ]]; then exit 1; fi
  after_script:
    - anybadge --overwrite --label "code quality" --value=$(cat public/badges/$CI_JOB_NAME.score) --file=public/badges/$CI_JOB_NAME.svg 4=red 6=orange 8=yellow 10=green
    - echo "Your score is $(cat public/badges/$CI_JOB_NAME.score)"
  artifacts:
    paths:
      - public
    reports:
      codequality: codeclimate.json
    when: always
  rules:
    - if: '$CODE_QUALITY_DISABLED'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_TAG || $CI_COMMIT_BRANCH'

python_supported_versions:
  # determine minimum supported python version
  stage: test-components
  dependencies: []
  script:
    - yum install -y -q python3-pip
    - python3 -m pip install -U pip vermin
    - vermin -vv .
  rules:
    - changes:
      - "**/*.py"
      - "bin/*"

coverage:
  stage: test-components
  dependencies: []
  script:
    - yum install -y -q python3-pip
    - python3 -m pip install -U pip tox
    - tox
  rules:
    - when: always
  artifacts:
    reports:
      junit: report.xml
    paths:
      - htmlcov/*
    expire_in: 1 week
    when: always

security:
  stage: test-components
  image: gitlab-registry.cern.ch/linuxsupport/cs8-base
  dependencies: []
  allow_failure: true
  script:
    - dnf install -y -q python3.11 python3.11-pip git
    - python3 -m pip install -U pip tox
    - tox -e bandit
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^qa-.*$/ || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^qa-.*$/
      when: never
    - if: $CI_COMMIT_BRANCH == "master" || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "master"
      when: never
    - if: $CI_COMMIT_TAG =~ $PEP440_VERSION_REGEX
      when: never
    - when: always

YAML_lint:
  stage: test-components
  dependencies: []
  script:
    - yum install -y -q yamllint
    - yamllint -c tests/ci/yamllint_conf.yml hepbenchmarksuite/config/benchmarks.yml
  rules:
    - if: $CI_COMMIT_BRANCH == "qa" || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "qa"
      when: never
    - if: $CI_COMMIT_BRANCH == "master" || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "master"
      when: never
    - changes:
      - "**/*.yaml"
      - "**/*.yml"

db12_benchmark:
  stage: test-components
  dependencies: []
  script:
    - yum install -y -q apptainer python3-pip
    - python3 -m pip install --user --upgrade pip
    - python3 -m pip install --user .
    - python3 -m pip install -r requirements.txt
    - export PATH=~/.local/bin:$PATH
    - bmkrun --config default --rundir . --benchmarks db12
  artifacts:
    paths:
      - ./run_*/result_profile.json
      - ./run_*/run_config.yaml
    expire_in: 1 week
    when: always
  rules:
    - if: $CI_COMMIT_BRANCH == "qa" || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "qa"
      when: never
    - if: $CI_COMMIT_BRANCH == "master" || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == "master"
      when: never
    - when: always

############################################################
#####              TEST PARSING & INJECTION            #####
############################################################


bats_test_docker_compose_qa:
  stage: test-parsing-and-injection
  image:
    name: gitlab-registry.cern.ch/cloud-infrastructure/data-analytics/compose:v0.1
    entrypoint: [""]
  tags:
    - hep-benchmarks
    - x86_64
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^qa.*$/ || $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^qa.*$/
  script:
    - . $CI_PROJECT_DIR/tests/docker_compose_amq_to_es/ci_run_script.sh
    - ci_run_script
  after_script:
    - . $CI_PROJECT_DIR/tests/docker_compose_amq_to_es/ci_run_script.sh
    - stop_docker_compose
  artifacts:
    paths:
        - $CI_PROJECT_DIR/tests/docker_compose_amq_to_es/*
    expire_in: 1 week
    when: always

############################################################
#####                    DEV IMAGE                     #####
############################################################

build_suite_image_dev:
  stage: dev-image
  extends: .build_suite_image
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: manual

############################################################
#####                PUBLISH PACKAGE                   #####
############################################################

update_release_info:
  stage: deploy
  tags:
    - x86_64
  image: gitlab-registry.cern.ch/linuxsupport/cc7-base
  before_script:
    - yum install -y git sshpass
  script:
    - |
      curl -X POST "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/releases" \
      --header "PRIVATE-TOKEN: ${CI_API_TOKEN}" \
      --header "Content-Type: application/json" \
      --data "{\"tag_name\": \"${CI_COMMIT_TAG}\", \"name\": \"${CI_COMMIT_TAG}\", \"description\": \"${CI_COMMIT_TAG_MESSAGE:-No release notes.}\", \"assets\": { \"links\": [{ \"name\": \"HEP Benchmark Suite Python3 wheels\", \"url\": \"${CI_WEB_RELEASES}/${CI_COMMIT_TAG}\", \"link_type\":\"other\" }] }}" \
      --fail --output "/dev/null" --silent --show-error --write-out "HTTP response: ${http_code:-OK}\n\n"
    - SSHPASS=${CI_CPUBMK} sshpass -v -e ssh -oStrictHostKeyChecking=no cpubmk@lxplus.cern.ch "echo ${CI_COMMIT_TAG} > ${CI_EOS_RELEASES}/latest"
  rules:
    - if: $CI_COMMIT_TAG =~ $PEP440_VERSION_REGEX && $CI_COMMIT_TAG !~ /.*rc[0-9].*/

############################################################
#####                     INCLUDE                      #####
############################################################

include:
  - /gitlab-ci/build_wheels.yml
  - /gitlab-ci/build_examples.yml
  - /gitlab-ci/test_benchmarks.yml
