stages:
  - build-base-image
  - test-parsing-and-injection
  - test-components
  - test-benchmarks
  - deploy
  - test-wheels
  - build-examples

variables:
  GIT_DEPTH: 3
  PEP440_VERSION_REGEX: /^((19|20)[0-9][0-9]-(0[1-9]|1[1-2])-([0-2][1-9]|3[0-1])|[0-9]+\.\w+\+?\w*(\.\w+)*)$/

# Avoid duplicate pipelines on branches and merge requests
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - when: always

# Retry all jobs by default, since even pod creation could fail
default:
  retry: 2

include: 'gitlab-ci/**.yml'
