    SUITE_PLUGINS_CONFIG=""
    create_plugin_configuration

    cat > "$SUITE_CONFIG_FILE" <<EOF2
activemq:
  server: $SERVER
  topic: $TOPIC
  port: $PORT
  ## include the certificate full path (see documentation)
  key: $CERTIFKEY
  cert: $CERTIFCRT

global:
  # Hardware requirements to check in preflight before running the suite
  # all values are in GB unless otherwise stated.
  hw_requirements:
    min_memory_per_core: 2.0
    min_disk_per_core: 1.0
  sw_requirements:
    check_root_access: false
    check_selinux_disabled: false
    min_docker_version: "1.14"
  benchmarks:
  - hepscore
  mode: $EXECUTOR
  publish: $PUBLISH
  rundir: $RUNDIR
  show: true
  tags:
    site: $SITE
  pre-stage-duration: 2
  post-stage-duration: 2

hepscore:
  version: $HEPSCORE_VERSION
  config: default
  options:
      userns: True
      clean: True


$SUITE_PLUGINS_CONFIG
EOF2
