    SUITE_PLUGINS_CONFIG=""
    create_plugin_configuration

    cat > $SUITE_CONFIG_FILE <<EOF2
activemq:
  server: $SERVER
  topic: $TOPIC
  port: $PORT
  ## include the certificate full path (see documentation)
  key: $CERTIFKEY
  cert: $CERTIFCRT

global:
  benchmarks:
  - hepscore
  mode: $EXECUTOR
  publish: $PUBLISH
  rundir: $RUNDIR
  show: true
  tags:
    site: $SITE
  pre-stage-duration: 2
  post-stage-duration: 2

hepscore:
  version: $HEPSCORE_VERSION
  config: default
  options:
      userns: True
      clean: True

$SUITE_PLUGINS_CONFIG
EOF2